DATABASE_URL=postgresql://neondb_owner:npg_9ErJH0BGyYUb@ep-autumn-sound-a4u4qszz-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
CLOUDINARY_CLOUD_NAME=djk8ulhlp
CLOUDINARY_API_KEY=132569829932454
CLOUDINARY_API_SECRET=klvGC0FNkR-ABoqEpE8hCPrm4vE
IMGBB_API_KEY=your_imgbb_api_key_here
SECRET_KEY=h5JBG4ZL00mO3jbvMhTvZPQUL4MQ6DLeVy3wvUYtwBRec9gD9e
DEBUG=false
